/* @import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap'); */

.hello{
    /* font-family: "Aboreto", sans-serif; */
    color:blue;
    text-align: center;
}
.item-container{
    border: 2px solid black;
    height: 17rem;
    width: 17rem;
    border-radius: 1.5rem;
    margin: 1rem;
}