/* @import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap'); */
/*in code= font-family: "Aboreto", sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
}
:root {
  /* --custom name: value; */
  /* --light-green-bg: #476529; */
  /* example, color: var(--navy-clr) */
  --prim-bg-clr: #22babb;
  --sec-bg-clr: rgba(0,0,0,.7);
  --acc-bg-clr: #348888;
}
.page-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 3rem;
}
/* fonts */
/* font-family: 'Roboto', sans-serif; */

.bg-img{
  background: url(./imgs/bgImg2--ty-finck-unsplash.jpg);
  position: fixed;
  top: -70%;
  left: -40%;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.picture{
height: 250px;
width: auto;
border-bottom: 2px solid black;
}

.header,
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sec-bg-clr);
  color: whitesmoke;
  /* border: 2px solid black; */
}
.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--sec-bg-clr);
  color: whitesmoke;
  padding-bottom: 1rem;
}
.header {
  font-size: 3rem;
  font-weight: bolder;
  background-color: rgba(0,0,0,.0);
  /* overflow: hidden; */
}
.nav{
  font-size: 1rem;
  font-weight: bold;
}
.main {
  /* text-align: center; */
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 21rem));
  justify-content: center;
  background-color: rgba(0,0,0,.4);
}
.footer {
  font-size: 1rem;
}

.item-container {
  border: 2px solid black;
  height: auto;
  width: auto;
  border-radius: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  overflow: hidden;
}
.item-title,
.item-content {
  text-align: center;
  background-color: white;
}
.item-title {
  font-size: x-large;
  font-weight: bold;
}
.item-content {
  font-size: large;
  font-weight: 500;
}
